<a href="https://colab.research.google.com/github/sravs1407/computational_statistics/blob/main/Manova.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from scipy import  stats
import scipy.stats
import numpy as np

In [2]:
t11=np.asarray([9,3])
t12=np.asarray([6,2])
t13=np.asarray([9,7])
t21=np.asarray([0,4])
t22=np.asarray([2,0])
t31=np.asarray([3,8])
t32=np.asarray([1,9])
t33=np.asarray([2,7])
t1=[t11,t12,t13]
t2=[t21,t22]
t3=[t31,t32,t33]
t1=np.asarray(t1)
t2=np.asarray(t2)
t3=np.asarray(t3)
print(t3)
lentr=3
t4=[t1,t2,t3]
print(t1[0])
y1bar=[]
y2bar=[]
sum=0
c=0
s=0
tot=0
sum1=sum2=0
for t in t4:
  for j in range(len(t)):
    sum+=t[j][c]
    sum1+=sum
    s+=t[j][c+1]
    sum2+=s
    tot+=(j+1)
  y1bar.append(sum//(j+1))
  y2bar.append(s//(j+1))
  sum=0
  s=0
ybb=[]
ybb.append(sum1//tot)
ybb.append(sum2//tot)
print(y1bar)
print(y2bar)
print(ybb)
table={"treatments":["t1","t2","t3"],"values":[t1,t2,t3],"yibar":[y1bar,y2bar,""],"ybb":["",ybb,""]}
table=pd.DataFrame(table)
print(table)

[[3 8]
 [1 9]
 [2 7]]
[9 3]
[8, 1, 2]
[4, 2, 8]
[4, 5]
  treatments                    values      yibar     ybb
0         t1  [[9, 3], [6, 2], [9, 7]]  [8, 1, 2]
1         t2          [[0, 4], [2, 0]]  [4, 2, 8]  [4, 5]
2         t3  [[3, 8], [1, 9], [2, 7]]

In [22]:
#FOR y1
ssey1=0
ssty1=0
p=0
for t in t4:
  for j in range(len(t)):
    ssey1+=(t[j][0]-y1bar[p])**2
    ssty1+=(t[j][0]-ybb[0])**2
  p+=1
ssry1=ssty1-ssey1
print(ssey1,ssty1,ssry1)

10 88 78

In [23]:
#FOR y2
ssey2=0
ssty2=0
p=0
for t in t4:
  for j in range(len(t)):
    ssey2+=(t[j][1]-y2bar[p])**2
    ssty2+=(t[j][1]-ybb[1])**2
  p+=1
ssry2=ssty2-ssey2
print(ssey2,ssty2,ssry2)

24 72 48

In [26]:
#cross product of y1 and y2
sse=sst=0
p=0
for t in t4:
  for j in range(len(t)):
    sse+=(t[j][0]*t[j][1]-y1bar[p]*y2bar[p])
    sst+=(t[j][0]*t[j][1]-ybb[0]*ybb[1])
  p+=1
ssr=sst-sse
print(sse,sst,ssr)

1 -11 -12

In [38]:
#monava table
import math
b=np.matrix([[ssry1,ssr],[ssr,ssry2]])
w=np.matrix([[ssey1,sse],[sse,ssey2]])
t=np.matrix([[ssty1,sst],[sst,ssty2]])
df1=len(t4)-1
df3=len(t4[0])+len(t4[1])+len(t4[2])-1
df2=df3-df1
wv=np.linalg.det(w)/np.linalg.det(t)
f=((df2-1)/(df1))*((1-math.sqrt(wv))/math.sqrt(wv))
monava_table={"source of variation":["regression","error","total"],"sum of squares":[b,w,t],"degrees of freedom":[df1,df2,df3],"wilks value":["",wv,""],"f-statistic":["",f,""]}
monava_table=pd.DataFrame(monava_table)
print(monava_table)

  source of variation                      sum of squares  degrees of freedom  \
0          regression  [[[[[ 78 -12]]]], [[[[-12  48]]]]]                   2
1               error      [[[[[10  1]]]], [[[[ 1 24]]]]]                   5
2               total  [[[[[ 88 -11]]]], [[[[-11  72]]]]]                   7

  wilks value f-statistic
0
1    0.038455     8.19886
2

In [40]:
#inference
tab_val=scipy.stats.f.ppf(1-0.05,df1,df2)
print(tab_val)
if(f>tab_val):
  print("we reject h0")
else:
  print("we accept h0")

5.786135043349964
we reject h0