In [29]:
import pandas as pd

In [30]:
d=pd.read_excel("C:\\Users\\y20cs170\\Desktop\\cs.xlsx")

In [31]:
df=pd.DataFrame(d)
df

    x   y
0  68  62
1  64  58
2  75  68
3  50  45
4  64  81
5  80  60
6  75  68
7  40  48
8  55  50
9  64  70

In [32]:
def rank(x):
    n=len(x)
    rankx=[]
    for i in range (n):
        r=1
        s=1
        for j in range (i):
            if x[j] > x[i]:
                r= r+1
            if x[j] == x[i]:
                s= s+1
        for j in range (i+1,n):
            if x[j] > x[i]:
                r = r+1
            if x[j] == x[i]:
                s = s+1
        rankx.append(r + (s-1) * 0.5)
    return rankx
df['r1']=rank(df['x'])
df['r2']=rank(df['y'])

In [33]:
df

    x   y    r1    r2
0  68  62   4.0   5.0
1  64  58   6.0   7.0
2  75  68   2.5   3.5
3  50  45   9.0  10.0
4  64  81   6.0   1.0
5  80  60   1.0   6.0
6  75  68   2.5   3.5
7  40  48  10.0   9.0
8  55  50   8.0   8.0
9  64  70   6.0   2.0

In [34]:
df['d']=df['r1']-df['r2']
df

    x   y    r1    r2    d
0  68  62   4.0   5.0 -1.0
1  64  58   6.0   7.0 -1.0
2  75  68   2.5   3.5 -1.0
3  50  45   9.0  10.0 -1.0
4  64  81   6.0   1.0  5.0
5  80  60   1.0   6.0 -5.0
6  75  68   2.5   3.5 -1.0
7  40  48  10.0   9.0  1.0
8  55  50   8.0   8.0  0.0
9  64  70   6.0   2.0  4.0

In [35]:
df['dsq']=df['d']**2
df

    x   y    r1    r2    d   dsq
0  68  62   4.0   5.0 -1.0   1.0
1  64  58   6.0   7.0 -1.0   1.0
2  75  68   2.5   3.5 -1.0   1.0
3  50  45   9.0  10.0 -1.0   1.0
4  64  81   6.0   1.0  5.0  25.0
5  80  60   1.0   6.0 -5.0  25.0
6  75  68   2.5   3.5 -1.0   1.0
7  40  48  10.0   9.0  1.0   1.0
8  55  50   8.0   8.0  0.0   0.0
9  64  70   6.0   2.0  4.0  16.0

In [36]:
sumdisq=sum(df['dsq'])
sumdisq

72.0

In [37]:
count1={}
count2={}
for i in df['x']:
    if i not in count1:
        count1[i]=1
    else:
        count1[i]+=1
for i in df['y']:
    if i not in count2:
        count2[i]=1
    else:
        count2[i]+=1
print(count1,count2)

{68: 1, 64: 3, 75: 2, 50: 1, 80: 1, 40: 1, 55: 1} {62: 1, 58: 1, 68: 2, 45: 1, 81: 1, 60: 1, 48: 1, 50: 1, 70: 1}

In [44]:
cf=0
for val in count1.values():
    if (val>1):
        cf+=val*(val*val-1)/12
for val in count2.values():
    if (val>1):
        cf+=val*(val*val-1)/12
cf

3.0

In [45]:
sumdisq+=cf
sumdisq

75.0

In [51]:
n=len(df['x'])
row=1-(6*sumdisq/(n*((n*n)-1)))
row

0.5454545454545454